.center {
  text-align: center;
}
/************************
        Header
*************************/
/* header {
  position: fixed;
  z-index: 99;
  width: 100%;
} */
.header-contact-line {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  position: relative;
  background: var(--gray_1);
  padding: 0 0 1%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-links {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.social-links a {
  display: -webkit-flex;
  display: flex;
  align-items: center; /*центрируем по вертикали*/
  justify-content: center; /*центрируем по горизонтали*/
  width: 50px;
  height: 40px;
  background-color: white;
  margin-right: 1px;
  text-decoration: none;
  font-size: 1.1em;
  color: var(--color-theme);
  box-shadow: 0 5px 10px #cccccc;
}
.social-links a:hover,
.social-links a:focus {
  color: white;
  background: var(--blue_1);
  box-shadow: 0 0 10px #cccccc;
}
.header-contact-line .col:nth-child(2) {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-icon {
  margin-left: 10px;
}
.contact-icon:first-of-type {
  margin-left: 0;
}
.contact-icon svg {
  height: 1.2rem;
  display: inline-block;
  vertical-align: middle;
}
.contact-icon span {
  color: var(--gray_2);
  font-size: 1rem;
  font-weight: 400;
  vertical-align: middle;
}
.form {
  display: -webkit-flex;
  display: flex;
  align-self: stretch;
  height: 40px;
}
.contact-icon form {
  display: -webkit-flex;
  display: flex;
  padding: 0;
  background-color: white;
  text-decoration: none;
  font-size: 1rem;
  color: var(--gray_2);
  box-shadow: 0 5px 10px #cccccc;
}
.contact-icon form input,
.contact-icon form button {
  height: 100%;
  border: none;
  outline: none;
}
.contact-icon form input {
  width: 80%;
  padding: 0 2%;
}
.contact-icon form button {
  padding: 0 4%;
  width: 20%;
  background: none;
  box-shadow: -7px -1px 20px #cccccc;
}
/************************
        Go to Top
 ***********************/
#myBtn {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 30px;
  z-index: 98;
  background: rgba(0, 150, 136, 0.64);
  border: 1px solid white;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 12px;
  -webkit-box-shadow: inset 7px 5px 46px -12px var(--color-theme);
  box-shadow: inset 7px 5px 46px -12px var(--color-theme);
  text-transform: uppercase;
  text-shadow: 1px 3px 5px #fff;
}
/************************
        NavBar
*************************/
/* .navbar-header {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
} */
/********* logo********/
/* .logo {
  padding: 20px 15px;
  margin-left: 10px;
} */
/********* nav********/
/* .main-nav {
  display: -webkit-flex;
  display: flex;
  margin-right: 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.main-nav li {
  text-align: center;
  padding: 10px 5px;
}
.main-nav li a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 3px 5px var(--gray_2);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.main-nav li a:hover {
  color: var(--color-theme);
  text-shadow: 1px 3px 5px white;
} */
.dropdown-content {
  display: none;
  position: absolute;
  width: 80px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
.dropdown-content a {
  display: block;
}
.dropdown-content a:hover {
  box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  z-index: 99;
}

/*********navbar-toggle********/

.navbar-toggle {
  display: none;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.navbar-toggle span {
  text-decoration: none;
  background: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 1px var(--color-theme);
  font-size: 2em;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

.navbar-toggle span:nth-of-type(1) {
  top: 0;
}
.navbar-toggle span:nth-of-type(2) {
  top: 12px;
}

.navbar-toggle span:nth-of-type(3) {
  bottom: 0;
}

.navbar-toggle.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

.navbar-toggle.active span:nth-of-type(2) {
  display: none;
}

.navbar-toggle.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

/************************
       Wrapper
*************************/
/* main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  background-color: white;
} */

/* .top-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "La Belle Aurore", "Bad Script", cursive;
  font-size: 1.5em;
  color: var(--gray);
  text-shadow: 0 1px 1px var(--gray);
  width: 100%;
  height: 100%;
} */
/********************
    section about
*********************/

/* .about svg {
  margin-left: 10%;
  height: auto;
  position: absolute;
  z-index: 10;
  width: 40%;
  opacity: 0.75;
} */
/* .slide-show-content {
  overflow: hidden;
  z-index: 10;
  color: var(--gray_3);
  padding: 2% 5%;
} */
/* h2.text-about,
.contact h2 {
  color: rgba(18, 98, 199, 1);
  margin: 0;
  font-size: 3.75em;
  letter-spacing: 0.13px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: "La Belle Aurore", "Bad Script", cursive;
  transition: all 1.75s cubic-bezier(0.075, 0.82, 0.165, 1);
} */

/* .slide-show-content p {
  font-size: 1.2em;
  text-align: justify;
  letter-spacing: normal;
  font-weight: 300;
  color: var(--gray_2);
}
.slide-show-content p span {
  font-weight: bold;
  font-style: italic;
  color: var(--color-theme);
} */
/***********************
***section portfolio, ****
************************/
/*
.portfolio,
.contact {
  background: linear-gradient(
    45deg,
    #ffffff,
    #b3c6e4,
    #ffffff,
    #b3c6e4,
    #ffffff
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  color: var();
  height: auto;
  padding: 2%;
}
.portfolio h2,
.contact h2 {
  color: var(--color-theme);
}
.portfolio p {
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 3px 5px var(--gray_2);
}*/
/* .portfolio button {
  border: none;
  border-radius: 30%;
  background: none;
  color: var(--color-theme);
  box-shadow: inset 7px 5px 46px -12px var(--color-theme);
  padding: 1%;
}
.portfolio button:hover {
  color: white;
  box-shadow: inset 7px 5px 46px 6px var(--color-theme);
} */
.posts {
  display: grid;
  margin: 2% auto;
  grid-template-columns: auto auto auto;
  grid-gap: 2%;
  align-content: center;
  background-size: contain;
}

.post {
  height: 140px;
  overflow: hidden;
  margin: 1%;
}
.post img {
  background-size: contain;
  max-width: 100%;
  height: auto;
  -webkit-filter: sepia(60%); /* Safari 6.0 - 9.0 */
  filter: sepia(60%);
}
.post:hover img {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

.modal {
  z-index: 3;
  display: none;
  padding-top: 5%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 1000px;
  text-align: center;
}
.img-modal {
  width: 100%;
}

/***********************
***section contact****
************************/
.form-area {
  width: 80%;
  margin: 5% auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 0.2em 1em;
}
.form-content {
  display: flex;
  flex-direction: row;
}
.msg-area {
  display: flex;
  flex: 60%;
  flex-direction: column;
  align-self: stretch;
}
.msg-area > textarea {
  background: transparent;
  color: #fff;
  padding: 1em;
  height: 100%;
}
.details-area {
  flex: 40%;
  margin-right: 1em;
}
.details-area input {
  width: 100%;
  background: transparent;
  color: #fff;
  border-radius: 2em;
  border-width: 1px;
}
.details-area input,
.form-area button {
  padding: 1em;
  margin-bottom: 1em;
}
.form-area button {
  background: #00bff3;
  color: #fff;
  border: 0;
  margin-top: 2%;
  padding: 15px 50px;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 1.2em;
}
label {
  color: #fff;
  text-transform: uppercase;
  line-height: 40px;
}
.success {
  background-color: var(--color-theme);
  text-align: center;
  padding: 2em;
}
.error {
  background-color: red;
  text-align: center;
  padding: 2em;
}
/************************
       Footer
*************************/

footer {
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.social-row {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 0 10px;
  margin: 30px 10px 10px;
}

.social-row a {
  margin-right: 10px;
}
.social-icon:hover,
.social-icon:focus {
  border: 1px solid white;
  border-radius: 50%;
}

.footer-contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
  padding: 0 20px;
}
.footer-contact-container a:hover,
.footer-contact-container a:focus {
  color: var(--color-primary-dark);
}
@media only screen and (max-width: 870px) {
  .footer-contact-container {
    flex-direction: column;
  }
}
/************************
       @media
*************************/

/*@media only screen and  (max-width:870px )*/
/*
@media only screen and (max-width: 48em) {
  header {
  }
  .header-contact-line {
    justify-content: center;
  }
  .contact-icon form {
    height: 40px;
  }
  .social-links a {
    max-width: 50px;
  }
  .navbar-header {
    position: relative;
    width: 100%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }
  */
/*********stiling logo********/
/*
  .navbar-header .logo {
    padding: 0.5rem 0.2rem;
    margin-left: 0.8rem;
  }
  .main-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    background: inherit;
    margin: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .main-nav li a {
    display: block;
    color: white;
    text-shadow: 1px 3px 5px var(--color-theme);
    margin: 0;
    padding: 0.5rem 1rem;
  }

  .dropdown-content a {
    display: block;
  }

  .main-nav li a:hover {
    color: var(--color-theme);
    text-shadow: 1px 3px 5px white;
  }
  .dropdown-content {
    position: absolute;
    display: block;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    margin-left: -10px;
    margin-top: 10px;
    right: 0;
  }
  .dropdown-content a {
    width: 100%;
  }
  .dropdown-content a:hover,
  .main-nav li:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  .navbar-toggle,
  .navbar-toggle span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    
  }

  .top-container {
    font-size: 1.5em;
  }
  section.about {
    grid-template-columns: auto;
    height: 90vh;
  }
  .about svg {
   
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .text-about {
    text-align: center;
    font-size: 2.5em;
    color: #00bff3;
  }
  .portfolio {
    padding: 5%;
  }
  .posts {
    display: contents;
  }
  .post {
    height: 250px;
  }
  footer {
    height: 500px;
  }
  .footer-content {
    width: 70%;
    align-items: center;
  }
  .footer-content span {
    font-size: 1.625rem;
  }
  .footer-contact-container {
    bottom: 50px;
  }
  .footer-contact-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 870px) {
  .social-links a {
    width: 72px;
  }
  .contact-icon form {
    height: 40px;
  }
}
@media (max-width: 640px) {
  .form-content {
    flex-direction: column;
  }
}
*/
